body {
    background-color:black;
    color:white;
    overflow:hidden;
    font-weight:500;
    font-size:1.5rem;
}

.dropdown-menu {
    font-size:1.5rem;
}

main {
    height:100vh;
}

.hg-theme-default {
    background-color:#666;
}
.hg-theme-default .hg-button {
    background-color:black;
}

.hg-theme-default .hg-button.hg-activeButton {
    background-color:#555;
}

.topnav, .nav-link, .dropdown-menu, {
    color:rgba(255,255,255,.8);
    background-color:#343a40;
}

.topnav {
    position:absolute;
    top:0;
    left:0;
    right:0;
    border-bottom:2px solid grey;
}

a:hover {
    color:rgba(255,255,255,0.8);
}

#tabs {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.row {
    margin:0;
}

#tabs .nav-link {
    background:none;
    padding-left:0.5em
}

#tabs .nav-tabs .nav-link {
    background-color:#242a30;
    border: 1px solid transparent;
    border-radius:15px 15px 0 0;    
}

#tabs .nav-link.active {
    color:white;
    background-color:#343a40;
}

#tabs .tab-content {
    background-color:#343a40;
    height:50vh;
    transition: height 0.25s ease 0s;
    width:100vw;
}

#tabs.minimized .tab-content {
    height:0;
}

#tab-minimize {
    position:absolute;
    top:0;
    right:0;
    padding-left:1rem;
    padding-right:1rem;
    font-size:1.5em;
    background-color:#343a40;    
    border-radius:15px 15px 0 0;    
}

.stats-table {
    table-layout:fixed;
}

.stats-table .col:nth-child(2n+1) {
    text-align:right;
}

#Display {
    padding-top:60px;
    color:LightGreen;
    line-height:1;
}

#TopDisplay {
}

#MainDisplay {
    font-size:5.4em;
    transition:font-size 0.5s ease 0s;
    text-align:right;
}

#MainDisplay.minimized {
    font-size:7.0em;    
}

#BottomDisplay {
}

#chart {
    flex:1;
    width:100%;
    --background-overlay:transparent;
}

.modebutton {
    width:20vw;
    margin-left:2.5vw;
    margin-right:2.5vw;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.option {
    display:inline-block;
    width:50vw;
}

.option span {
    padding:0.5em;
    display:inline-block;
    width:25vw;
    text-align:right;
    padding-right:1em;
}

.option input, .option .dropdown {
    display:inline-block;
    width:20vw;
}

.option .dropdown button {
    width:20vw;
}

.option input {
    background:black;
    color:white;
}

.dropdown-menu.show {
    background-color:black;
    border:3px solid #0062cc;
}

.dropdown-item {
    color:white;
}
