body {
    background-color:black;
    color:white;
    overflow:hidden;
    font-weight:500;
    font-size:1.5rem;
}

.dropdown-menu {
    font-size:1.5rem;
}

main {
    height:100vh;
}

.hg-theme-default {
    background-color:#666;
}
.hg-theme-default .hg-button {
    background-color:black;
}

.hg-theme-default .hg-button.hg-activeButton {
    background-color:#555;
}

.topnav, .nav-link, .dropdown-menu, .dropdown-item {
    color:rgba(255,255,255,.8);
    background-color:#343a40;
}

.topnav {
    position:absolute;
    top:0;
    left:0;
    right:0;
}

a:hover {
    color:rgba(255,255,255,0.8);
}

#tabs {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.row {
    margin:0;
}

#tabs .nav-link {
    background:none;
    padding-left:0.5em
}

#tabs .nav-tabs .nav-link {
    background-color:#242a30;
    border: 1px solid transparent;
    border-radius:15px 15px 0 0;    
}

#tabs .nav-link.active {
    color:white;
    background-color:#343a40;
}

#tabs .tab-content {
    background-color:#343a40;
    height:50vh;
    transition: height 1s ease 0s;
    width:100vw;
}

#tabs.minimized .tab-content {
    height:0;
}

#tab-minimize {
    position:absolute;
    top:0;
    right:0;
    padding-left:1rem;
    padding-right:1rem;
    font-size:1.5em;
    background-color:#343a40;    
    border-radius:15px 15px 0 0;    
}

.stats-table {
    table-layout:fixed;
}

.stats-table .col:nth-child(2n+1) {
    text-align:right;
}


#MainDisplay {
    color:LightGreen;
    font-size:5.4em;
    padding-top:52px;
    transition:font-size 1s ease 0s;
    text-align:right;
}

#MainDisplay.minimized {
    font-size:7.0em;    
}
