body {
    background-color:black;
    color:white;
    overflow:hidden;
}

#MainDisplay {
    color:LightGreen;
    font-size:6.5em;
}

#tabs .tab-content, #tabs nav {
    background-color:#878f99;
}

#tabs nav
{
    border-radius: 15px 15px 0 0;
}

main {
    height:100vh;
    font-weight:500;
    font-size:1em;
}

.js-plotly-plot .plotly .modebar-btn    {
    font-size:24px !important;
}

#nav-tabContent {
    height:350px;
}

#MainDisplay {
    padding-top:56px;
    height:216px;
    transition: height 0.15s ease-in;
}

#nav-tab {
    position:relative;
}

#nav-tab a {
    color:white;
    border-right:1px solid white;
}

#nav-tab a.active {
    background-color:transparent;
    border-left:none;
    border-top:none;
    border-bottom:none;
}

#tab-controls {
    position:absolute;
    top:5px; right:20px;
}

main.tabs-hidden #MainDisplay {
    height:calc(100% - 42px);
}
